.tablaPuntaje {
    padding: center;
    padding: 30px;
}
.tablaPuntaje table {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 5px #0091ff solid";
    
}
.btnCartas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 10px;
}